table { 
    margin-top: 0.5em;
    margin-left: auto;
    margin-right: auto;
    width:30vw;
    border-collapse:collapse;  
    font-weight:bold;
    color:#f6f3f6;

    tr {

        height:50px;
        background-color:lighten(#202020, 5%);
        border-bottom:rgba(81, 110, 223, 0.3) 1px solid;
    }

    td {
        box-sizing:border-box;
        padding-left:15px;
        padding-right:15px;
    }
    thead {
        height:30px;
        background:#418a95;
        color:#f6f3f7; 
        }  
}
.align {
    text-align: left;
}
.delivery-button-div {
    width: 30vw;
    margin: auto;
}
.delivery-button  {
    display: block;
    margin-left: auto;
    margin-right: 1em;
    // margin: auto;
    margin-top: 1em;
}