$torea-bay: #0D348B;
$malibu: #93BDF9;
$havelock-blue: #4D7AD9;
$portage: #7C92E7;
$footer: #202020;
$background: #f3f3f3;

// @import url('https://fonts.googleapis.com/css2?family=Oxygen&family=Ubuntu&display=swap');

h1,
h2,
h3,
h4,
h5,
h6 {
    // font-family: 'Ubuntu', sans-serif;
}

p,
a,
button,
input,
a:visited {
    // font-family: 'Oxygen', sans-serif;
}